In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('deliveries.csv',usecols=['match_id','inning','batting_team','bowling_team','over','ball','total','batsman','non_striker','player_dismissed'])

In [3]:
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,total,player_dismissed
0,1,1,Australia,Pakistan,1,1,DA Warner,TM Head,0,NaN
1,1,1,Australia,Pakistan,1,2,DA Warner,TM Head,0,NaN
2,1,1,Australia,Pakistan,1,3,DA Warner,TM Head,0,NaN
3,1,1,Australia,Pakistan,1,4,DA Warner,TM Head,0,NaN
4,1,1,Australia,Pakistan,1,5,DA Warner,TM Head,1,NaN
...,...,...,...,...,...,...,...,...,...,...
929558,1596,2,South Africa,England,47,4,CH Morris,KJ Abbott,0,NaN
929559,1596,2,South Africa,England,47,5,CH Morris,KJ Abbott,1,NaN
929560,1596,2,South Africa,England,47,6,KJ Abbott,CH Morris,0,NaN
929561,1596,2,South Africa,England,48,1,CH Morris,KJ Abbott,0,CH Morris
929562,1596,2,South Africa,England,48,2,Imran Tahir,KJ Abbott,4,NaN

In [4]:
matches=pd.read_csv('matches.csv',usecols=['id','venue'])

In [5]:
matches.shape

(1742, 2)

In [6]:
df['match_id'].value_counts()

673     640
404     633
536     632
592     632
543     631
       ...
1313     31
1057     28
582      22
664      18
1703      9
Name: match_id, Length: 1742, dtype: int64

In [7]:
match_df = df.merge(matches[['id','venue']],left_on='match_id',right_on='id')

In [8]:
match_df.drop(columns='id').sample(5)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,total,player_dismissed,venue
711980,1344,2,West Indies,Pakistan,12,1,MN Samuels,LMP Simmons,0,NaN,Providence Stadium
692222,1308,2,India,Sri Lanka,17,6,RG Sharma,KD Karthik,1,NaN,"Queen's Park Oval, Port of Spain"
516297,980,1,Bangladesh,Sri Lanka,18,6,Shakib Al Hasan,Raqibul Hasan,0,NaN,Shere Bangla National Stadium
216932,413,2,England,Sri Lanka,4,1,AN Cook,ME Trescothick,0,NaN,Old Trafford
925512,1741,1,Scotland,United Arab Emirates,40,2,PL Mommsen,MA Leask,0,NaN,"Grange Cricket Club Ground, Raeburn Place"

In [9]:
match_df['balls_left']=300-(6*(match_df['over']-1)+match_df['ball'])

In [10]:
tf=match_df

In [11]:
match_df=match_df.groupby(['match_id','inning']).sum()['total'].reset_index()
match_df=match_df[match_df['inning']==1]
match_df

C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\31287647.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  match_df=match_df.groupby(['match_id','inning']).sum()['total'].reset_index()

      match_id  inning  total
0            1       1    268
2            2       1    220
4            3       1    263
6            4       1    353
8            5       1    369
...        ...     ...    ...
3429      1738       1    250
3431      1739       1    229
3433      1740       1    265
3435      1741       1    327
3437      1742       1    228

[1742 rows x 3 columns]

In [12]:
tf.drop(columns='match_id')

,inning,batting_team,bowling_team,over,ball,batsman,non_striker,total,player_dismissed,id,venue,balls_left
0,1,Australia,Pakistan,1,1,DA Warner,TM Head,0,NaN,1,"Brisbane Cricket Ground, Woolloongabba",299
1,1,Australia,Pakistan,1,2,DA Warner,TM Head,0,NaN,1,"Brisbane Cricket Ground, Woolloongabba",298
2,1,Australia,Pakistan,1,3,DA Warner,TM Head,0,NaN,1,"Brisbane Cricket Ground, Woolloongabba",297
3,1,Australia,Pakistan,1,4,DA Warner,TM Head,0,NaN,1,"Brisbane Cricket Ground, Woolloongabba",296
4,1,Australia,Pakistan,1,5,DA Warner,TM Head,1,NaN,1,"Brisbane Cricket Ground, Woolloongabba",295
...,...,...,...,...,...,...,...,...,...,...,...,...
929558,2,South Africa,England,47,4,CH Morris,KJ Abbott,0,NaN,1596,New Wanderers Stadium,20
929559,2,South Africa,England,47,5,CH Morris,KJ Abbott,1,NaN,1596,New Wanderers Stadium,19
929560,2,South Africa,England,47,6,KJ Abbott,CH Morris,0,NaN,1596,New Wanderers Stadium,18
929561,2,South Africa,England,48,1,CH Morris,KJ Abbott,0,CH Morris,1596,New Wanderers Stadium,17
929562,2,South Africa,England,48,2,Imran Tahir,KJ Abbott,4,NaN,1596,New Wanderers Stadium,16

In [13]:
df1=tf.merge(match_df[['match_id','total']],left_on='id',right_on='match_id')

In [14]:
df1

,match_id_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,total_x,player_dismissed,id,venue,balls_left,match_id_y,total_y
0,1,1,Australia,Pakistan,1,1,DA Warner,TM Head,0,NaN,1,"Brisbane Cricket Ground, Woolloongabba",299,1,268
1,1,1,Australia,Pakistan,1,2,DA Warner,TM Head,0,NaN,1,"Brisbane Cricket Ground, Woolloongabba",298,1,268
2,1,1,Australia,Pakistan,1,3,DA Warner,TM Head,0,NaN,1,"Brisbane Cricket Ground, Woolloongabba",297,1,268
3,1,1,Australia,Pakistan,1,4,DA Warner,TM Head,0,NaN,1,"Brisbane Cricket Ground, Woolloongabba",296,1,268
4,1,1,Australia,Pakistan,1,5,DA Warner,TM Head,1,NaN,1,"Brisbane Cricket Ground, Woolloongabba",295,1,268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929558,1596,2,South Africa,England,47,4,CH Morris,KJ Abbott,0,NaN,1596,New Wanderers Stadium,20,1596,262
929559,1596,2,South Africa,England,47,5,CH Morris,KJ Abbott,1,NaN,1596,New Wanderers Stadium,19,1596,262
929560,1596,2,South Africa,England,47,6,KJ Abbott,CH Morris,0,NaN,1596,New Wanderers Stadium,18,1596,262
929561,1596,2,South Africa,England,48,1,CH Morris,KJ Abbott,0,CH Morris,1596,New Wanderers Stadium,17,1596,262
929562,1596,2,South Africa,England,48,2,Imran Tahir,KJ Abbott,4,NaN,1596,New Wanderers Stadium,16,1596,262

In [15]:
df1=df1[df1['inning']==1]

In [16]:
df1['player_dismissed']=df1['player_dismissed'].fillna("0")
df1['player_dismissed']=df1['player_dismissed'].apply(lambda x:x if x == "0" else "1")
df1['player_dismissed']=df1['player_dismissed'].astype('int')
wickets=df1.groupby('match_id_x').cumsum()['player_dismissed']

C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\3977817555.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['player_dismissed']=df1['player_dismissed'].fillna("0")
C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\3977817555.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['player_dismissed']=df1['player_dismissed'].apply(lambda x:x if x == "0" else "1")
C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\3977817555.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['player_dismissed']=df1['player_dismissed'].astype('int')
C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\3977817555.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wickets=df1.groupby('match_id_x').cumsum()['player_dismissed']

In [17]:
df1['wickets']=wickets
df1

C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\887635874.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['wickets']=wickets

,match_id_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,total_x,player_dismissed,id,venue,balls_left,match_id_y,total_y,wickets
0,1,1,Australia,Pakistan,1,1,DA Warner,TM Head,0,0,1,"Brisbane Cricket Ground, Woolloongabba",299,1,268,0
1,1,1,Australia,Pakistan,1,2,DA Warner,TM Head,0,0,1,"Brisbane Cricket Ground, Woolloongabba",298,1,268,0
2,1,1,Australia,Pakistan,1,3,DA Warner,TM Head,0,0,1,"Brisbane Cricket Ground, Woolloongabba",297,1,268,0
3,1,1,Australia,Pakistan,1,4,DA Warner,TM Head,0,0,1,"Brisbane Cricket Ground, Woolloongabba",296,1,268,0
4,1,1,Australia,Pakistan,1,5,DA Warner,TM Head,1,0,1,"Brisbane Cricket Ground, Woolloongabba",295,1,268,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929271,1596,1,England,South Africa,48,1,SCJ Broad,AU Rashid,0,0,1596,New Wanderers Stadium,17,1596,262,8
929272,1596,1,England,South Africa,48,2,SCJ Broad,AU Rashid,0,1,1596,New Wanderers Stadium,16,1596,262,9
929273,1596,1,England,South Africa,48,3,AU Rashid,RJW Topley,4,0,1596,New Wanderers Stadium,15,1596,262,9
929274,1596,1,England,South Africa,48,4,AU Rashid,RJW Topley,0,0,1596,New Wanderers Stadium,14,1596,262,9
929275,1596,1,England,South Africa,48,5,AU Rashid,RJW Topley,0,1,1596,New Wanderers Stadium,13,1596,262,10

In [18]:
df2=df1[df1['wickets']>10]
df2.shape

(0, 16)

In [19]:
df1['Score']=df1.groupby('match_id_x').cumsum()['total_x']
df1

C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\505248696.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df1['Score']=df1.groupby('match_id_x').cumsum()['total_x']
C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\505248696.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Score']=df1.groupby('match_id_x').cumsum()['total_x']

,match_id_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,total_x,player_dismissed,id,venue,balls_left,match_id_y,total_y,wickets,Score
0,1,1,Australia,Pakistan,1,1,DA Warner,TM Head,0,0,1,"Brisbane Cricket Ground, Woolloongabba",299,1,268,0,0
1,1,1,Australia,Pakistan,1,2,DA Warner,TM Head,0,0,1,"Brisbane Cricket Ground, Woolloongabba",298,1,268,0,0
2,1,1,Australia,Pakistan,1,3,DA Warner,TM Head,0,0,1,"Brisbane Cricket Ground, Woolloongabba",297,1,268,0,0
3,1,1,Australia,Pakistan,1,4,DA Warner,TM Head,0,0,1,"Brisbane Cricket Ground, Woolloongabba",296,1,268,0,0
4,1,1,Australia,Pakistan,1,5,DA Warner,TM Head,1,0,1,"Brisbane Cricket Ground, Woolloongabba",295,1,268,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929271,1596,1,England,South Africa,48,1,SCJ Broad,AU Rashid,0,0,1596,New Wanderers Stadium,17,1596,262,8,258
929272,1596,1,England,South Africa,48,2,SCJ Broad,AU Rashid,0,1,1596,New Wanderers Stadium,16,1596,262,9,258
929273,1596,1,England,South Africa,48,3,AU Rashid,RJW Topley,4,0,1596,New Wanderers Stadium,15,1596,262,9,262
929274,1596,1,England,South Africa,48,4,AU Rashid,RJW Topley,0,0,1596,New Wanderers Stadium,14,1596,262,9,262
929275,1596,1,England,South Africa,48,5,AU Rashid,RJW Topley,0,1,1596,New Wanderers Stadium,13,1596,262,10,262

In [20]:
groups = df1.groupby('id')

match_ids = df1['id'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=60).sum()['total_x'].values.tolist())

C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\4101012264.py:6: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['batsman', 'batting_team', 'bowling_team', 'non_striker', 'venue'], dtype='object')
  last_five.extend(groups.get_group(id).rolling(window=60).sum()['total_x'].values.tolist())

In [21]:
group = df1.groupby('id')

match_id = df1['id'].unique()
last_ten = []
for id in match_ids:
    last_ten.extend(groups.get_group(id).rolling(window=60).sum()['player_dismissed'].values.tolist())

C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\3717343197.py:6: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['batsman', 'batting_team', 'bowling_team', 'non_striker', 'venue'], dtype='object')
  last_ten.extend(groups.get_group(id).rolling(window=60).sum()['player_dismissed'].values.tolist())

In [22]:
df1['last_ten']=last_five
df1['last_ten_wickkets']=last_ten

C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\4025220999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['last_ten']=last_five
C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\4025220999.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['last_ten_wickkets']=last_ten

In [23]:
df1

,match_id_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,total_x,player_dismissed,id,venue,balls_left,match_id_y,total_y,wickets,Score,last_ten,last_ten_wickkets
0,1,1,Australia,Pakistan,1,1,DA Warner,TM Head,0,0,1,"Brisbane Cricket Ground, Woolloongabba",299,1,268,0,0,NaN,NaN
1,1,1,Australia,Pakistan,1,2,DA Warner,TM Head,0,0,1,"Brisbane Cricket Ground, Woolloongabba",298,1,268,0,0,NaN,NaN
2,1,1,Australia,Pakistan,1,3,DA Warner,TM Head,0,0,1,"Brisbane Cricket Ground, Woolloongabba",297,1,268,0,0,NaN,NaN
3,1,1,Australia,Pakistan,1,4,DA Warner,TM Head,0,0,1,"Brisbane Cricket Ground, Woolloongabba",296,1,268,0,0,NaN,NaN
4,1,1,Australia,Pakistan,1,5,DA Warner,TM Head,1,0,1,"Brisbane Cricket Ground, Woolloongabba",295,1,268,0,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929271,1596,1,England,South Africa,48,1,SCJ Broad,AU Rashid,0,0,1596,New Wanderers Stadium,17,1596,262,8,258,75.0,2.0
929272,1596,1,England,South Africa,48,2,SCJ Broad,AU Rashid,0,1,1596,New Wanderers Stadium,16,1596,262,9,258,74.0,3.0
929273,1596,1,England,South Africa,48,3,AU Rashid,RJW Topley,4,0,1596,New Wanderers Stadium,15,1596,262,9,262,77.0,3.0
929274,1596,1,England,South Africa,48,4,AU Rashid,RJW Topley,0,0,1596,New Wanderers Stadium,14,1596,262,9,262,76.0,3.0
929275,1596,1,England,South Africa,48,5,AU Rashid,RJW Topley,0,1,1596,New Wanderers Stadium,13,1596,262,10,262,74.0,4.0

In [24]:
df1['crr']=(df1['Score']*6)/(300-df1['balls_left'])

C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\386089999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['crr']=(df1['Score']*6)/(300-df1['balls_left'])

In [25]:
df1

,match_id_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,total_x,player_dismissed,id,venue,balls_left,match_id_y,total_y,wickets,Score,last_ten,last_ten_wickkets,crr
0,1,1,Australia,Pakistan,1,1,DA Warner,TM Head,0,0,1,"Brisbane Cricket Ground, Woolloongabba",299,1,268,0,0,NaN,NaN,0.000000
1,1,1,Australia,Pakistan,1,2,DA Warner,TM Head,0,0,1,"Brisbane Cricket Ground, Woolloongabba",298,1,268,0,0,NaN,NaN,0.000000
2,1,1,Australia,Pakistan,1,3,DA Warner,TM Head,0,0,1,"Brisbane Cricket Ground, Woolloongabba",297,1,268,0,0,NaN,NaN,0.000000
3,1,1,Australia,Pakistan,1,4,DA Warner,TM Head,0,0,1,"Brisbane Cricket Ground, Woolloongabba",296,1,268,0,0,NaN,NaN,0.000000
4,1,1,Australia,Pakistan,1,5,DA Warner,TM Head,1,0,1,"Brisbane Cricket Ground, Woolloongabba",295,1,268,0,1,NaN,NaN,1.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929271,1596,1,England,South Africa,48,1,SCJ Broad,AU Rashid,0,0,1596,New Wanderers Stadium,17,1596,262,8,258,75.0,2.0,5.469965
929272,1596,1,England,South Africa,48,2,SCJ Broad,AU Rashid,0,1,1596,New Wanderers Stadium,16,1596,262,9,258,74.0,3.0,5.450704
929273,1596,1,England,South Africa,48,3,AU Rashid,RJW Topley,4,0,1596,New Wanderers Stadium,15,1596,262,9,262,77.0,3.0,5.515789
929274,1596,1,England,South Africa,48,4,AU Rashid,RJW Topley,0,0,1596,New Wanderers Stadium,14,1596,262,9,262,76.0,3.0,5.496503
929275,1596,1,England,South Africa,48,5,AU Rashid,RJW Topley,0,1,1596,New Wanderers Stadium,13,1596,262,10,262,74.0,4.0,5.477352

In [26]:
df1.dropna()

,match_id_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,total_x,player_dismissed,id,venue,balls_left,match_id_y,total_y,wickets,Score,last_ten,last_ten_wickkets,crr
59,1,1,Australia,Pakistan,10,3,TM Head,MR Marsh,4,0,1,"Brisbane Cricket Ground, Woolloongabba",243,1,268,3,56,56.0,3.0,5.894737
60,1,1,Australia,Pakistan,10,4,TM Head,MR Marsh,4,0,1,"Brisbane Cricket Ground, Woolloongabba",242,1,268,3,60,60.0,3.0,6.206897
61,1,1,Australia,Pakistan,10,5,TM Head,MR Marsh,0,0,1,"Brisbane Cricket Ground, Woolloongabba",241,1,268,3,60,60.0,3.0,6.101695
62,1,1,Australia,Pakistan,10,6,TM Head,MR Marsh,1,0,1,"Brisbane Cricket Ground, Woolloongabba",240,1,268,3,61,61.0,3.0,6.100000
63,1,1,Australia,Pakistan,11,1,TM Head,MR Marsh,1,0,1,"Brisbane Cricket Ground, Woolloongabba",239,1,268,3,62,62.0,3.0,6.098361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929271,1596,1,England,South Africa,48,1,SCJ Broad,AU Rashid,0,0,1596,New Wanderers Stadium,17,1596,262,8,258,75.0,2.0,5.469965
929272,1596,1,England,South Africa,48,2,SCJ Broad,AU Rashid,0,1,1596,New Wanderers Stadium,16,1596,262,9,258,74.0,3.0,5.450704
929273,1596,1,England,South Africa,48,3,AU Rashid,RJW Topley,4,0,1596,New Wanderers Stadium,15,1596,262,9,262,77.0,3.0,5.515789
929274,1596,1,England,South Africa,48,4,AU Rashid,RJW Topley,0,0,1596,New Wanderers Stadium,14,1596,262,9,262,76.0,3.0,5.496503
929275,1596,1,England,South Africa,48,5,AU Rashid,RJW Topley,0,1,1596,New Wanderers Stadium,13,1596,262,10,262,74.0,4.0,5.477352

In [27]:
df1.drop(columns=[
    'match_id_x',
    'id',
    'match_id_y',
    'over',
    'ball',
    'total_x',
    'player_dismissed'
    
],inplace=True)

C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\2326758474.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(columns=[

In [28]:
df1

,inning,batting_team,bowling_team,batsman,non_striker,venue,balls_left,total_y,wickets,Score,last_ten,last_ten_wickkets,crr
0,1,Australia,Pakistan,DA Warner,TM Head,"Brisbane Cricket Ground, Woolloongabba",299,268,0,0,NaN,NaN,0.000000
1,1,Australia,Pakistan,DA Warner,TM Head,"Brisbane Cricket Ground, Woolloongabba",298,268,0,0,NaN,NaN,0.000000
2,1,Australia,Pakistan,DA Warner,TM Head,"Brisbane Cricket Ground, Woolloongabba",297,268,0,0,NaN,NaN,0.000000
3,1,Australia,Pakistan,DA Warner,TM Head,"Brisbane Cricket Ground, Woolloongabba",296,268,0,0,NaN,NaN,0.000000
4,1,Australia,Pakistan,DA Warner,TM Head,"Brisbane Cricket Ground, Woolloongabba",295,268,0,1,NaN,NaN,1.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
929271,1,England,South Africa,SCJ Broad,AU Rashid,New Wanderers Stadium,17,262,8,258,75.0,2.0,5.469965
929272,1,England,South Africa,SCJ Broad,AU Rashid,New Wanderers Stadium,16,262,9,258,74.0,3.0,5.450704
929273,1,England,South Africa,AU Rashid,RJW Topley,New Wanderers Stadium,15,262,9,262,77.0,3.0,5.515789
929274,1,England,South Africa,AU Rashid,RJW Topley,New Wanderers Stadium,14,262,9,262,76.0,3.0,5.496503
929275,1,England,South Africa,AU Rashid,RJW Topley,New Wanderers Stadium,13,262,10,262,74.0,4.0,5.477352

In [29]:
df1['last_ten_wickkets']=df1['last_ten_wickkets'].fillna(0)
df1

C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\641878834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['last_ten_wickkets']=df1['last_ten_wickkets'].fillna(0)

,inning,batting_team,bowling_team,batsman,non_striker,venue,balls_left,total_y,wickets,Score,last_ten,last_ten_wickkets,crr
0,1,Australia,Pakistan,DA Warner,TM Head,"Brisbane Cricket Ground, Woolloongabba",299,268,0,0,NaN,0.0,0.000000
1,1,Australia,Pakistan,DA Warner,TM Head,"Brisbane Cricket Ground, Woolloongabba",298,268,0,0,NaN,0.0,0.000000
2,1,Australia,Pakistan,DA Warner,TM Head,"Brisbane Cricket Ground, Woolloongabba",297,268,0,0,NaN,0.0,0.000000
3,1,Australia,Pakistan,DA Warner,TM Head,"Brisbane Cricket Ground, Woolloongabba",296,268,0,0,NaN,0.0,0.000000
4,1,Australia,Pakistan,DA Warner,TM Head,"Brisbane Cricket Ground, Woolloongabba",295,268,0,1,NaN,0.0,1.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
929271,1,England,South Africa,SCJ Broad,AU Rashid,New Wanderers Stadium,17,262,8,258,75.0,2.0,5.469965
929272,1,England,South Africa,SCJ Broad,AU Rashid,New Wanderers Stadium,16,262,9,258,74.0,3.0,5.450704
929273,1,England,South Africa,AU Rashid,RJW Topley,New Wanderers Stadium,15,262,9,262,77.0,3.0,5.515789
929274,1,England,South Africa,AU Rashid,RJW Topley,New Wanderers Stadium,14,262,9,262,76.0,3.0,5.496503
929275,1,England,South Africa,AU Rashid,RJW Topley,New Wanderers Stadium,13,262,10,262,74.0,4.0,5.477352

In [30]:
df1=df1.dropna()

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 401430 entries, 59 to 929275
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   inning             401430 non-null  int64
 1   batting_team       401430 non-null  object
 2   bowling_team       401430 non-null  object
 3   batsman            401430 non-null  object
 4   non_striker        401430 non-null  object
 5   venue              401430 non-null  object
 6   balls_left         401430 non-null  int64
 7   total_y            401430 non-null  int64
 8   wickets            401430 non-null  int32
 9   Score              401430 non-null  int64
 10  last_ten           401430 non-null  float64
 11  last_ten_wickkets  401430 non-null  float64
 12  crr                401430 non-null  float64
dtypes: float64(3), int32(1), int64(4), object(5)
memory usage: 41.3+ MB

In [32]:
df1['last_ten']=df1['last_ten'].astype(int)
df1['last_ten_wickkets']=df1['last_ten_wickkets'].astype(int)

C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\3985801977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['last_ten']=df1['last_ten'].astype(int)
C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\3985801977.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['last_ten_wickkets']=df1['last_ten_wickkets'].astype(int)

In [33]:
df1['batsman']=df1['batsman'].str.split(' ').str.get(-1)
df1['non_striker']=df1['non_striker'].str.split(' ').str.get(-1)
df1

C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\689255574.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['batsman']=df1['batsman'].str.split(' ').str.get(-1)
C:\Users\SMART COMPUTER\AppData\Local\Temp\ipykernel_7436\689255574.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['non_striker']=df1['non_striker'].str.split(' ').str.get(-1)

,inning,batting_team,bowling_team,batsman,non_striker,venue,balls_left,total_y,wickets,Score,last_ten,last_ten_wickkets,crr
59,1,Australia,Pakistan,Head,Marsh,"Brisbane Cricket Ground, Woolloongabba",243,268,3,56,56,3,5.894737
60,1,Australia,Pakistan,Head,Marsh,"Brisbane Cricket Ground, Woolloongabba",242,268,3,60,60,3,6.206897
61,1,Australia,Pakistan,Head,Marsh,"Brisbane Cricket Ground, Woolloongabba",241,268,3,60,60,3,6.101695
62,1,Australia,Pakistan,Head,Marsh,"Brisbane Cricket Ground, Woolloongabba",240,268,3,61,61,3,6.100000
63,1,Australia,Pakistan,Head,Marsh,"Brisbane Cricket Ground, Woolloongabba",239,268,3,62,62,3,6.098361
...,...,...,...,...,...,...,...,...,...,...,...,...,...
929271,1,England,South Africa,Broad,Rashid,New Wanderers Stadium,17,262,8,258,75,2,5.469965
929272,1,England,South Africa,Broad,Rashid,New Wanderers Stadium,16,262,9,258,74,3,5.450704
929273,1,England,South Africa,Rashid,Topley,New Wanderers Stadium,15,262,9,262,77,3,5.515789
929274,1,England,South Africa,Rashid,Topley,New Wanderers Stadium,14,262,9,262,76,3,5.496503
929275,1,England,South Africa,Rashid,Topley,New Wanderers Stadium,13,262,10,262,74,4,5.477352

In [34]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 401430 entries, 59 to 929275
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   inning             401430 non-null  int64
 1   batting_team       401430 non-null  object
 2   bowling_team       401430 non-null  object
 3   batsman            401430 non-null  object
 4   non_striker        401430 non-null  object
 5   venue              401430 non-null  object
 6   balls_left         401430 non-null  int64
 7   total_y            401430 non-null  int64
 8   wickets            401430 non-null  int32
 9   Score              401430 non-null  int64
 10  last_ten           401430 non-null  int32
 11  last_ten_wickkets  401430 non-null  int32
 12  crr                401430 non-null  float64
dtypes: float64(1), int32(3), int64(4), object(5)
memory usage: 38.3+ MB

In [35]:
data_to_add={'inning':1,'batting_team':'India','bowling_team':'Australia','batsman':['Kishan','Kohli'],'non_striker':['Kohli','Kishan'],'venue':' Woolloongabba','balls_left':[200,150],'total_y':[250,245],'wickets':[2,3],'score':[48,98],'last_ten':[48.0,50.0],'last_ten_wickkets':[1.0,0],'crr':[4.8,4.9]}
addendom=pd.DataFrame(columns=df1.columns,data=data_to_add)
addendom

,inning,batting_team,bowling_team,batsman,non_striker,venue,balls_left,total_y,wickets,Score,last_ten,last_ten_wickkets,crr
0,1,India,Australia,Kishan,Kohli,Woolloongabba,200,250,2,NaN,48.0,1.0,4.8
1,1,India,Australia,Kohli,Kishan,Woolloongabba,150,245,3,NaN,50.0,0.0,4.9

In [36]:
X=df1.drop(columns=['total_y'])
y=df1['total_y']

In [37]:
X.sample(5)

,inning,batting_team,bowling_team,batsman,non_striker,venue,balls_left,wickets,Score,last_ten,last_ten_wickkets,crr
468761,1,New Zealand,Bangladesh,Ingram,Taylor,McLean Park,184,2,102,71,0,5.275862
445896,1,Australia,West Indies,Ponting,Watson,Melbourne Cricket Ground,212,1,68,55,1,4.636364
272281,1,Australia,New Zealand,Hayden,Ponting,"National Cricket Stadium, St George's",186,1,119,42,0,6.263158
541720,1,Sri Lanka,India,Kulasekara,Randiv,Rangiri Dambulla International Stadium,73,7,132,37,1,3.488987
549758,1,South Africa,India,Smith,Duminy,Newlands,173,3,84,40,2,3.968504

In [38]:
df2=df1['venue'].value_counts()

In [39]:
clean=df2.to_csv()

In [40]:
clean

',venue\r\nShere Bangla National Stadium,20266\r\nHarare Sports Club,13416\r\nR Premadasa Stadium,11229\r\nCounty Ground,8669\r\nSydney Cricket Ground,8161\r\nSheikh Zayed Stadium,7571\r\nQueens Sports Club,7424\r\nRangiri Dambulla International Stadium,7394\r\nKennington Oval,7373\r\nMelbourne Cricket Ground,7237\r\nSuperSport Park,6441\r\nSharjah Cricket Stadium,6429\r\nLord\'s,6368\r\nAdelaide Oval,5986\r\nEdgbaston,5756\r\nWestern Australia Cricket Association Ground,5587\r\n"Brisbane Cricket Ground, Woolloongabba",5169\r\nEden Park,5085\r\nDubai International Cricket Stadium,4879\r\n"Mahinda Rajapaksa International Cricket Stadium, Sooriyawewa",4844\r\nSeddon Park,4817\r\n"Queen\'s Park Oval, Port of Spain",4702\r\nMcLean Park,4506\r\nProvidence Stadium,4485\r\nThe Rose Bowl,4472\r\n"Sabina Park, Kingston",4460\r\nNational Stadium,4371\r\nNew Wanderers Stadium,4367\r\nWestpac Stadium,4329\r\nSophia Gardens,4304\r\nPallekele International Cricket Stadium,4296\r\nSenwes Park,4137\r\nTrent Bridge,4081\r\n"Warner Park, Basseterre",4057\r\n"Civil Service Cricket Club, Stormont",3970\r\n"Sir Vivian Richards Stadium, North Sound",3953\r\nKingsmead,3919\r\n"Beausejour Stadium, Gros Islet",3904\r\nBellerive Oval,3798\r\nSt George\'s Park,3701\r\nNewlands,3658\r\n"Punjab Cricket Association Stadium, Mohali",3495\r\nGaddafi Stadium,3487\r\nHeadingley,3478\r\nBrabourne Stadium,3431\r\nBay Oval,3394\r\n"Kensington Oval, Bridgetown",3384\r\nWillowmoore Park,3335\r\nOld Trafford,3330\r\nClontarf Cricket Club Ground,3018\r\n"National Cricket Stadium, St George\'s",2838\r\nM Chinnaswamy Stadium,2725\r\nRiverside Ground,2648\r\nGymkhana Club Ground,2648\r\n"MA Chidambaram Stadium, Chepauk",2644\r\nICC Academy,2591\r\nHagley Oval,2591\r\n"Sardar Patel Stadium, Motera",2584\r\nKinrara Academy Oval,2562\r\nGrace Road,2535\r\nSaxton Oval,2477\r\nFeroz Shah Kotla,2470\r\nWankhede Stadium,2380\r\nSawai Mansingh Stadium,2363\r\nSinhalese Sports Club Ground,2304\r\nManuka Oval,2250\r\n"The Village, Malahide",2250\r\nEden Gardens,2026\r\nZahur Ahmed Chowdhury Stadium,1952\r\nP Sara Oval,1942\r\n"Vidarbha Cricket Association Stadium, Jamtha",1936\r\nUniversity Oval,1897\r\n"Grange Cricket Club Ground, Raeburn Place",1877\r\nMannofield Park,1758\r\nNehru Stadium,1711\r\n"Arnos Vale Ground, Kingstown",1663\r\nBoland Park,1618\r\nKhan Shaheb Osman Ali Stadium,1479\r\nBarabati Stadium,1448\r\nReliance Stadium,1376\r\nBuffalo Park,1371\r\nTribhuvan University International Cricket Ground,1245\r\nNondescripts Cricket Club Ground,1242\r\nDr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium,1240\r\n"Rajiv Gandhi International Stadium, Uppal",1240\r\nGreater Noida Sports Complex Ground,1239\r\nBert Sutcliffe Oval,1231\r\nCentral Broward Regional Park Stadium Turf Ground,1219\r\nMultan Cricket Stadium,1214\r\n"Rajiv Gandhi International Cricket Stadium, Dehradun",1206\r\nJSCA International Stadium Complex,1190\r\nAMI Stadium,991\r\nGreen Park,991\r\n"Kensington Oval, Barbados",986\r\nIqbal Stadium,984\r\n"Windsor Park, Roseau",972\r\nShaheed Chandu Stadium,913\r\nMalahide,870\r\nAl Amerat Cricket Ground Oman Cricket (Ministry Turf 1),852\r\nMadhavrao Scindia Cricket Ground,753\r\nCastle Avenue,750\r\n"R.Premadasa Stadium, Khettarama",748\r\nSaurashtra Cricket Association Stadium,746\r\nNorth Sydney Oval,742\r\n"Sir Vivian Richards Stadium, Antigua",742\r\nICC Global Cricket Academy,736\r\nColombo Cricket Club Ground,736\r\nAllan Border Field,735\r\n"Mission Road Ground, Mong Kok",724\r\nChittagong Divisional Stadium,723\r\nBharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium,715\r\nHimachal Pradesh Cricket Association Stadium,701\r\nSylhet International Cricket Stadium,699\r\n"County Ground, New Road",697\r\nThe Cooper Associates County Ground,687\r\nThe Wanderers Stadium,667\r\nJade Stadium,663\r\nMarrara Cricket Ground,662\r\nNorth-West University No1 Ground,657\r\nQueenstown Events Centre,645\r\nMaple Leaf North-West Ground,612\r\nCambusdoon New Ground,595\r\nZohur Ahmed Chowdhury Stadium,588\r\nOUTsurance Oval,515\r\nBradman Oval,508\r\n"Nehru Stadium, Fatorda",508\r\nSedgars Park,507\r\n"Antigua Recreation Ground, St John\'s",505\r\nHurstville Oval,504\r\nMaharani Usharaje Trust Cricket Ground,503\r\nHolkar Cricket Stadium,502\r\nDocklands Stadium,500\r\n"Grange Cricket Club, Raeburn Place",498\r\nChevrolet Park,496\r\nMangaung Oval,495\r\nDe Beers Diamond Oval,492\r\nMaharashtra Cricket Association Stadium,492\r\nVRA Ground,491\r\n"National Cricket Stadium, Grenada",489\r\nCaptain Roop Singh Stadium,489\r\nSportpark Het Schootsveld,483\r\nSheikh Abu Naser Stadium,479\r\nNorth Marine Road Ground,478\r\nMombasa Sports Club Ground,477\r\nNarayanganj Osmani Stadium,463\r\n"Darren Sammy National Cricket Stadium, Gros Islet",425\r\nEden Park Outer Oval,416\r\n"Queen\'s Park Oval, Trinidad",410\r\nSheikh Kamal International Cricket Stadium,409\r\nDubai Sports City Cricket Stadium,400\r\nGalle International Stadium,395\r\nPeter Burge Oval,347\r\n"Observatory Lane, Rathmines",267\r\nJaffery Sports Club Ground,259\r\nSector 16 Stadium,257\r\nW.A.C.A. Ground,254\r\nBasin Reserve,254\r\nGoodyear Park,253\r\nSir Paul Getty\'s Ground,253\r\nLouth Cricket Club,251\r\nKaren Rolton Oval,251\r\nHaslegrave Ground,250\r\nM.Chinnaswamy Stadium,250\r\nIndian Petrochemicals Corporation Limited Sports Complex Ground,250\r\nDiamond Oval,250\r\nSouthend Club Cricket Stadium,250\r\nArbab Niaz Stadium,248\r\nKhettarama Stadium,248\r\nFTZ Sports Complex (BOI),248\r\nSt Lawrence Ground,248\r\nCobham Oval (New),248\r\nInternational Sports Stadium,248\r\n"Niaz Stadium, Hyderabad",247\r\n"Bready Cricket Club, Magheramason",247\r\nP Saravanamuttu Stadium,247\r\nRawalpindi Cricket Stadium,246\r\nNahar Singh Stadium,246\r\n"Punjab Cricket Association IS Bindra Stadium, Mohali",246\r\nVidarbha Cricket Association Ground,246\r\nSharjah Cricket Association Stadium,244\r\nWanderers Cricket Ground,244\r\nArun Jaitley Stadium,244\r\nJunction Oval,243\r\nYMCA Cricket Club,243\r\nEden Park No 2,242\r\nKeenan Stadium,241\r\nBoland Bank Park,239\r\nAndhra Cricket Association-Visakhapatnam District Cricket Association Stadium,236\r\nTitwood,234\r\nSheikhupura Stadium,232\r\nThe Hills Cricket Club Ground,232\r\nRuaraka Sports Club Ground,228\r\nAffies Park,212\r\nToronto Cricket,152\r\n"Darren Sammy National Cricket Stadium, St Lucia",120\r\n"Providence Stadium, Guyana",21\r\n'

In [41]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [42]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
import xgboost as XgbBoostRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [43]:
ohe=OneHotEncoder()
ohe.fit([['batting_team','bowling_team','venue','toss_winner','batsman','non_striker']])
trf=ColumnTransformer([
    ('trf',OneHotEncoder(max_categories=6,sparse_output=False),['batting_team','bowling_team','batsman','non_striker','venue'])
]
,remainder='passthrough')

In [44]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step3',LinearRegression())
])

In [45]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(max_categories=6,
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'batsman',
                                                   'non_striker', 'venue'])])),
                ('step3', LinearRegression())])

# Forcasted Score

In [55]:
n=pipe.predict(pd.DataFrame(columns=['inning','batting_team','bowling_team','batsman','non_striker','venue','balls_left','wickets','Score','last_ten','last_ten_wickkets','crr'],data=np.array([1,'India','Australia','Jadeja','Rahul','Sardar Patel Stadium, Motera',148,4,128,34,0.0,5.16]).reshape(1,12))).astype(int)

In [56]:
print('Forcasted Score is :',n)

Forcasted Score is : [267]